<ion-view view-title="Aves">
  <ion-content>
    <div class="div100">
        <div class="div33"><img src="./img/aves/pantalla/1.jpg"></div>
        <div class="div33"><img src="./img/aves/pantalla/2.jpg"></div>
        <div class="div33"><img src="./img/aves/pantalla/3.jpg"></div>
        <div class="div33"><img src="./img/aves/pantalla/4.jpg"></div>
        <div class="div33"><img src="./img/aves/pantalla/5.jpg"></div>
        <div class="div33"><img src="./img/aves/pantalla/6.jpg"></div>
        <div class="div33"><img src="./img/aves/pantalla/7.jpg"></div>
        <div class="div33"><img src="./img/aves/pantalla/8.jpg"></div>
        <div class="div33"><img src="./img/aves/pantalla/9.jpg"></div>
    </div>
  </ion-content>
</ion-view>
