<ion-view view-title="Video">
  <!--<ion-content overflow-scroll="true">
    <div class="background-video">
        <video src="./../img/video/sendero.mp4" controls="controls" preload="metadata" autoplay="autoplay">
        </video>
        <a href="#/app/principal"><img src="./../img/atras.png" class="videoAtras"></a>
    </div>
  </ion-content>-->
  <ion-content overflow-scroll="true">
  <video controls="controls" preload="metadata" autoplay="autoplay" webkit-playsinline="webkit-playsinline"
  class="videoPlayer">
   <source src="./../img/video/sendero.mp4" type="video/mp4" />
  </video>
</ion-content>
</ion-view>
