<!--<ion-view view-title="Video">
  <ion-content>
    <div class="background-video">
        <video src="./../img/video/sendero.mp4" controls>
        </video>
        <a href="#/app/principal"><img src="./../img/atras.png" class="videoAtras"></a>
    </div>
  </ion-content>
</ion-view>-->
<ion-view>
  <ion-content>
    <div class="modal transparent fullscreen-player">
          <video id="myvideo" ng-src="./../img/video/sendero.mp4" class="centerme" controls="controls" autoplay poster="{{bg}}"></video>
    </div>
  </ion-content>
</ion-view>
