<ion-view>
  <ion-content scroll="false">
  	<div class="divFull colorVerde">
	  	<div class="div25">
	    	<div class="divImg2">
	    		<a href="#/app/"><img src="../img/hojas/rugosa.svg"></a>
	    	</div> 
	  	</div>

	  	<div>
	  		<hr class="hrFull">
	  	</div>
	    
	    <div class="div25">
	    	<div class="divImg2">
	    		<a href="#/app/naranjero"><img src="../img/hojas/rugosa.svg"></a>
	    	</div>
	  	</div>

	  	<div>
	  		<hr class="hrFull">
	  	</div>

	  	<div class="div25">
	    	<div class="divImg2">
	    		<a href="#/app/"><img src="../img/hojas/rugosa.svg"></a>
	    	</div>
	  	</div>

	  	<div>
	  		<hr class="hrFull">
	  	</div>

	  	<div class="div25">
	    	<div class="divImg2">
	    		<a href="#/app/faya"><img src="../img/hojas/rugosa.svg"></a>
	    	</div>
	  	</div>
	</div>
  </ion-content>
</ion-view>