<ion-view>
  <ion-content scroll="false">
  	<div class="divFull colorVerde">

  		<div class="botonAtras">
			<img class="pngAtras" src="./img/atras.png" ng-click="atras()">
	    </div>
	    
	  	<div class="div50">
	    	<div class="divImg">
	    		<a href="#/app/aderno"><img src="./img/hojas/puntas-afiladas.png"></a>
	    	</div> 
	  	</div>

	  	<div>
	  		<hr class="hrFull">
	  	</div>
	    
	    <div class="div50">
	    	<div class="divImg">
	    		<a href="#/app/marmolan"><img src="./img/hojas/puntas-redondeadas.png"></a>
	    	</div>
	  	</div>
	</div>
  </ion-content>
</ion-view>