<ion-view>
  <ion-content scroll="false">
  	<div class="divFull colorVerde">

  		<div class="botonAtras">
			<a href="#app/principalPlantas"><img class="pngAtras" src="./img/atras.png"></a>
	    </div>

	  	<div class="div50">
	    	<div class="divImg">
	    		<a href="#/app/opuestaAlterna"><img src="./img/hojas/hojaSencilla.png"></a>
	    	</div>
	  	</div>

	  	<div>
	  		<hr class="hrFull">
	  	</div>

	    <div class="div50">
	    	<div class="divImg">
	    		<a href="#app/sauco"><img src="./img/hojas/hojaCompuesta.png"></a>
	    	</div>
	  	</div>

	</div>
  </ion-content>
</ion-view>
