<ion-view view-title="Mapa">
  <ion-content scroll="false">
    <!--<ion-scroll  direction="xy" class="miscroll">-->
    <div class="fondo-mapa">
      <img class="rwdimgmap" src="./img/mapa/mapa.jpg" usemap="#image-map">
              <map name="image-map">
              <area target="" alt="uno" title="uno" href="#" coords="53,1123,30" shape="circle">
              <area target="" alt="dos" title="dos" href="#" coords="170,1105,30" shape="circle">
              <area target="" alt="tres" title="tres" href="#" coords="222,1059,27" shape="circle">
              <area target="" alt="cuatro" title="cuatro" href="#" coords="168,987,26" shape="circle">
              <area target="" alt="cinco" title="cinco" href="#" coords="232,948,28" shape="circle">
              <area target="" alt="seis" title="seis" href="#" coords="401,928,28" shape="circle">
              <area target="" alt="siete" title="siete" href="#" coords="505,1005,31" shape="circle">
              <area target="" alt="ocho" title="ocho" href="#" coords="547,709,33" shape="circle">
              <area target="" alt="nueve" title="nueve" href="#" coords="496,591,28" shape="circle">
              <area target="" alt="diez" title="diez" href="#" coords="508,518,34" shape="circle">
              <area target="" alt="once" title="once" href="#" coords="602,515,26" shape="circle">
              <area target="" alt="doce" title="doce" href="#" coords="706,449,29" shape="circle">
              <area target="" alt="trece" title="trece" href="#" coords="535,350,32" shape="circle">
              <area target="" alt="catorce" title="catorce" href="#" coords="634,301,32" shape="circle">
              <area target="" alt="quince" title="quince" href="#" coords="618,136,27" shape="circle">
              <area target="" alt="dieciseis" title="dieciseis" href="" coords="597,77,27" shape="circle">
    </div>
  </ion-content>
</ion-view>
