<ion-view view-title="Mapa">
  <ion-content scroll="false">
    <div class="imagen-mapa">
      <a href="#/app/arbol1"><img class="puntoUno" src="./img/mapa/punto-1.png" alt=""></a>
      <a href="#/app/arbol2"><img class="puntoDos" src="./img/mapa/punto-2.png" alt=""></a>
      <a href="#/app/arbol3"><img class="puntoTres" src="./img/mapa/punto-3.png" alt=""></a>
      <a href="#/app/arbol4"><img class="puntoCuatro" src="./img/mapa/punto-4.png" alt=""></a>
      <a href="#/app/arbol5"><img class="puntoCinco" src="./img/mapa/punto-5.png" alt=""></a>
      <a href="#/app/arbol6"><img class="puntoSeis" src="./img/mapa/punto-6.png" alt=""></a>
      <a href="#/app/arbol7"><img class="puntoSiete" src="./img/mapa/punto-7.png" alt=""></a>
      <a href="#/app/arbol8"><img class="puntoOcho" src="./img/mapa/punto-8.png" alt=""></a>
      <a href="#/app/arbol9"><img class="puntoNueve" src="./img/mapa/punto-9.png" alt=""></a>
      <a href="#/app/arbol10"><img class="puntoDiez" src="./img/mapa/punto-10.png" alt=""></a>
      <a href="#/app/arbol11"><img class="puntoOnce" src="./img/mapa/punto-11.png" alt=""></a>
      <a href="#/app/arbol12"><img class="puntoDoce" src="./img/mapa/punto-12.png" alt=""></a>
      <a href="#/app/arbol13"><img class="puntoTrece" src="./img/mapa/punto-13.png" alt=""></a>
      <a href="#/app/arbol14"><img class="puntoCatorce" src="./img/mapa/punto-14.png" alt=""></a>
      <a href="#/app/arbol15"><img class="puntoQuince" src="./img/mapa/punto-15.png" alt=""></a>
      <a href="#/app/arbol16"><img class="puntoDiesiceis" src="./img/mapa/punto-16.png" alt=""></a>
    </div>
  </ion-content>
</ion-view>
