<ion-view view-title="Aves">
  <ion-content>
    <div class="divAvesFull">
        <!--  -->
        <div class="div33">
            <a href="">
                <img src="./img/aves/pantalla/1.jpg">
            </a>
        </div>

        <!-- CUERVO -->
        <div class="div33">
            <a href="#/app/pajaroCuervo">
                <img src="./img/aves/pantalla/2.jpg">
            </a>
        </div>

        <!--  -->
        <div class="div33">
            <a href="">
                <img src="./img/aves/pantalla/3.jpg">
            </a>
        </div>

        <!--  -->
        <div class="div33">
            <a href="">
                <img src="./img/aves/pantalla/4.jpg">
            </a>
        </div>

        <!--  -->
        <div class="div33">
            <a href="">
                <img src="./img/aves/pantalla/5.jpg">
            </a>
        </div>

        <!--  -->
        <div class="div33">
            <a href="">
                <img src="./img/aves/pantalla/6.jpg">
            </a>
        </div>

        <!--  -->
        <div class="div33">
            <a href="">
                <img src="./img/aves/pantalla/7.jpg">
            </a>
        </div>

        <!--  -->
        <div class="div33">
            <a href="">
                <img src="./img/aves/pantalla/8.jpg">
            </a>
        </div>

        <!--  -->
        <div class="div33">
            <a href="">
                <img src="./img/aves/pantalla/9.jpg">
            </a>
        </div>
        
    </div>
  </ion-content>
</ion-view>
