<ion-view>
  <ion-content>
    <div class="divAvesFull">
        <!-- MOSQUITERO -->
        <div class="divAves50">
            <a href="#/app/pajaroMosquitero">
                <img src="./img/aves/pantalla/1.jpg">
            </a>
        </div>

        <!-- CUERVO -->
        <div class="divAves50">
            <a href="#/app/pajaroCuervo">
                <img src="./img/aves/pantalla/2.jpg">
            </a>
        </div>

        <!-- GAVILAN -->
        <div class="divAves50">
            <a href="#/app/pajaroGavilan">
                <img src="./img/aves/pantalla/3.jpg">
            </a>
        </div>

        <!-- HERRERILLO -->
        <div class="divAves50">
            <a href="#/app/pajaroHerrerillo">
                <img src="./img/aves/pantalla/4.jpg">
            </a>
        </div>

        <!-- MIRLO -->
        <div class="divAves50">
            <a href="#/app/pajaroMirlo">
                <img src="./img/aves/pantalla/5.jpg">
            </a>
        </div>

        <!-- PALOMA RABICHE -->
        <div class="divAves50">
            <a href="#/app/pajaroPalomaRabiche">
                <img src="./img/aves/pantalla/6.jpg">
            </a>
        </div>

        <!-- PALOMA TURQUE -->
        <div class="divAves50">
            <a href="#/app/pajaroPalomaTurque">
                <img src="./img/aves/pantalla/7.jpg">
            </a>
        </div>

        <!-- PETIRROJO -->
        <div class="divAves50">
            <a href="#/app/pajaroPetirrojo">
                <img src="./img/aves/pantalla/8.jpg">
            </a>
        </div>

        <!-- PINZON -->
        <div class="divAves50">
            <a href="#/app/pajaroPinzon">
                <img src="./img/aves/pantalla/9.jpg">
            </a>
        </div>

        <!-- reyezuelo -->
        <div class="divAves50">
            <a href="#/app/pajaroReyezuelo">
                <img src="./img/aves/pantalla/10.jpg">
            </a>
        </div>

    </div>
  </ion-content>
</ion-view>
